<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ExcelVersion" type="VTS.Excel.AppConfig,VTS.Excel"/>
    <section name="ExcelTypeMap" type="VTS.Excel.AppConfig,VTS.Excel"/>
  </configSections>
  <!--Excel文档链接配置-->
  <ExcelVersion>
    <add key="Excel3.0" value="Provider=Microsoft.Jet.OleDb.4.0; Data Source={0}; Extended Properties='Excel 3.0;HDR={1};'"/>
    <add key="Excel4.0" value="Provider=Microsoft.Jet.OleDb.4.0; Data Source={0}; Extended Properties='Excel 4.0;HDR={1};'"/>
    <add key="Excel5.0" value="Provider=Microsoft.Jet.OleDb.4.0; Data Source={0}; Extended Properties='Excel 5.0;HDR={1};'"/>
    <!--<add key="Excel8.0" value="Provider=Microsoft.Jet.OleDb.4.0; Data Source={0}; Extended Properties='Excel 8.0;HDR={1};IMEX=2'"/>-->
    <add key="Excel8.0" value="Provider=Microsoft.Jet.OleDb.4.0; Data Source={0}; Extended Properties='Excel 8.0;HDR={1};'"/>
    <add key="Excel12.0" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0 Xml;HDR={1};'"/>
  </ExcelVersion>
  <!--Excel与.Net数据类型对应表-->
  <ExcelTypeMap>
    <add key="String" value="Text"/>
    <add key="Double" value="Double"/>
    <add key="Decimal" value="Decimal"/>
    <add key="DateTime" value="Date"/>
    <!--默认Excel类型，当无法匹配时取此值-->
    <add key="Default" value="Text"/>
  </ExcelTypeMap>
  <appSettings>
    <add key="MaxSheelSize" value="50000"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
